<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationWebServiceSoap" />
                <binding name="ExerciseWebServiceSoap" />
                <binding name="SessionWebServiceSoap" />
                <binding name="TargetWebServiceSoap" />
                <binding name="WorkoutWebServiceSoap" />
                <binding name="UserWebServiceSoap" />
                <binding name="MuscleWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60500/WebService/ExerciseWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExerciseWebServiceSoap"
                contract="ExerciseService.ExerciseWebServiceSoap" name="ExerciseWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/SessionWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SessionWebServiceSoap"
                contract="SessionService.SessionWebServiceSoap" name="SessionWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/TargetWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TargetWebServiceSoap"
                contract="TargetService.TargetWebServiceSoap" name="TargetWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/WorkoutWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WorkoutWebServiceSoap"
                contract="WorkoutService.WorkoutWebServiceSoap" name="WorkoutWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/AuthenticationWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationWebServiceSoap"
                contract="AuthenticationService.AuthenticationWebServiceSoap"
                name="AuthenticationWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/UserWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserWebServiceSoap"
                contract="UserService.UserWebServiceSoap" name="UserWebServiceSoap" />
            <endpoint address="http://localhost:60500/WebService/MuscleWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MuscleWebServiceSoap"
                contract="MuscleService.MuscleWebServiceSoap" name="MuscleWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>